<h2>My Documents</h2>

<input
  type="text"
  placeholder="Search by name"
  [(ngModel)]="searchText"
/>

<br /><br />

<p *ngIf="filteredDocuments.length === 0">
  No documents found
</p>

<table *ngIf="filteredDocuments.length > 0" border="1" cellpadding="8">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Uploaded</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let doc of filteredDocuments">
    <td>{{ doc.originalName }}</td>
    <td>{{ doc.fileType }}</td>
    <td>{{ doc.createdAt | date:'short' }}</td>
    <td>
      <a
        [href]="'http://localhost:5000/uploads/' + doc.fileName"
        target="_blank"
      >
        Download
      </a>
      |
      <button (click)="deleteDocument(doc._id)">
        Delete
      </button>
    </td>
  </tr>
</table>
